# Python bytecode
__pycache__/
*.py[cod]

# Environments
.venv/
env/
venv/

# Build artifacts
build/
dist/
*.spec

# Local config (optional: keep if you want users to have a template)
# config.json

# IDEs
.vscode/
.idea/